
/* Primary colours RGB */
$primary_colour_white: rgba(255, 255, 255, 1);
$rimary_colour_sky: rgba(0, 167, 225, 1);
$rimary_colour_cobalt: rgba(0, 74, 170, 1);
$rimary_colour_yellow: rgba(255, 191, 30, 1);
$rimary_colour_violet: rgba(41, 10, 99, 1);

/* Secondary colours RGB */
$secondary_colour_sky: rgba(128, 237, 255, 1);
$secondary_colour_cobalt: rgba(96, 155, 198, 1);
$secondary_colour_yellow: rgba(255, 210, 110, 1);
$secondary_colour_violet: rgba(61, 43, 107, 1);



/* Lighter colours Rgb*/
$secondary_colour_sky: rgba(171, 243, 255, 1);
$secondary_colour_cobalt: rgba(127, 185, 229, 1);
$secondary_colour_yellow: rgba(255, 235, 192, 1);
$secondary_colour_violet: rgba(117, 91, 178, 1);