@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
  width:99%;
  height: 100%;
  background-color: #bdbdbd;
  }
  nav
  {
    margin-top:-1%;
    margin-left:0;
    height: 12vh;
    width:100%;
    background-color: rgba(41, 10, 99, 1);
    box-shadow: 0 8px 6px -6px black;
    border-radius: 10px;
    position:fixed;
    overflow: hidden;
z-index:1;

  }
  #logo{
    width:250px;
    height:250px;
    margin-top:-10vh;
    margin-right:100%;
  }
#bar{
  font-size:40px;
  cursor:pointer;
  color: rgba(128, 237, 255, 1);
  position:fixed;
  right:20px;
  z-index:1;
}
#bar:hover
{
  color:rgba(0, 167, 225, 1);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
  /*  background: transparent;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
  margin: 120px;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 10px;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  border-radius:10px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 3em;
}

.content-details p{
  color: #fff;
  font-size: 1.5em;
}

.fadeIn-top{
  top: 0%;
}

/*Social media links*/
.fa {
  padding: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: #3B5998;
}



.fa-google {
  color:#dd4b39;
}

.fa-youtube {
  color: #bb0000;
}

.fa-instagram {
  color: #d6249f;
 color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
 box-shadow: 0px 3px 10px rgba(0,0,0,.25);

}
