
body{
  width:99%;
  height: 99%;
  background-color: #bdbdbd;
  }
  #logo
{
    width:300px;
    height:200px;
    margin-top:-8vh;
    margin-right:100%;
    overflow: hidden;
    opacity: 1;
}
nav
{
  margin-top:-1%;
  margin-left:0;
  height: 12vh;
  width:99%;
  background-color: rgba(41, 10, 99, 1);
  box-shadow: 0 8px 6px -6px black;
  border-radius: 10px;
  position:fixed;
  overflow: hidden;
}
#bar{
  font-size:40px;
  cursor:pointer;
  color: rgba(128, 237, 255, 1);
  position:fixed;
  right:10px;
  padding: 1%;
}
#bar:hover
{
  color:rgba(0, 167, 225, 1);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
  /*  background: transparent;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#slide1{
  height:75%;
  width:45%;
  margin:10% 0% 2% 5%;
  border-radius: 25px;

}
#slide2{
  height:75%;
  width:45%;
  margin:-35% 5% 2% 50%;
  border-radius: 25px;

}
.card1{
      width: 40%;
    height:60%;
    margin-left: 55%;
    margin-right: 5%;
    margin-top: -35%;
    background-color: #73008B;
    border:1px solid #bdbdbd;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    -moz-box-shadow: 0 0 20px #73008B;
    -webkit-box-shadow: 0 0 20px #73008B;
    box-shadow: 0 0 20px #73008B;
}
.card2{
  width: 40%;
    height:60%;
    margin:10% 0% 2% 5%;
    background-color: #73008B;
    border:1px solid #bdbdbd;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    -moz-box-shadow: 0 0 20px #73008B;
    -webkit-box-shadow: 0 0 20px #73008B;
    box-shadow: 0 0 20px #73008B;
}
h1
{
  color:white;
  text-align: center;
  font-size:3em;
  text-decoration: underline;
  font-weight: bold;
}
#text
{
  float: left;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  font:Roboto;
  font-size:20px;
  font-style: italic;
}

@media (min-width: 900px)
{
  #slide1
  {
    margin-top:25vh;
  }
  .card1
  {
    margin-top:-75vh;
  }
  .card2
  {
    margin-top:20vh;
  }
  #slide2
  {
    margin-top:-75vh;
  }
}
@media (min-width:800px)
{
  #slide1{
    height:75%;
    width:45%;
    margin:10% 0% 2% 5%;
    border-radius: 25px;

  }
  #slide2{
    height:75%;
    width:45%;
    margin:-35% 5% 2% 50%;
    border-radius: 25px;

  }
  .card1{
        width: 40%;
      height:60%;
      margin-left: 55%;
      margin-right: 5%;
      margin-top: -70vh;
      background-color: #73008B;
      border:1px solid #bdbdbd;
      -webkit-border-radius: 5px;
      border-radius: 25px;
      -moz-box-shadow: 0 0 20px #73008B;
      -webkit-box-shadow: 0 0 20px #73008B;
      box-shadow: 0 0 20px #73008B;
  }
  .card2{
    width: 40%;
      height:60%;
      margin:10% 0% 2% 5%;
      background-color: #73008B;
      border:1px solid #bdbdbd;
      -webkit-border-radius: 5px;
      border-radius: 25px;
      -moz-box-shadow: 0 0 20px #73008B;
      -webkit-box-shadow: 0 0 20px #73008B;
      box-shadow: 0 0 20px #73008B;
  }
  h1
  {
    color:white;
    text-align: center;
    font-size:3em;
    text-decoration: underline;
    font-weight: bold;
  }
  #text
  {
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    font:Roboto;
    font-size:20px;
    font-style: italic;
  }
}
@media (min-width:320px)
{
  nav
  {
    height: 8vh;
  }
  #slide1
  {
    width:60%;
    height:35%;
    margin-top:10vh;
    margin-left: 20%;
  }
  .card1,#slide2,.card2
  {
    width:60%;
    height:35%;
    margin-top:2vh;
    margin-left: 20%;
  }
  h1
  {
    font-size: 25px;
  }
  #text
  {
    padding:10px;
    font-size: 15px;
  }
}
@media (max-width:512px)
{
  #slide1
  {
    width:25%;
    height:30%;
    margin-left: 5%;
  }
  h1
  {
    font-size:30px;
  }
  #text
  {
    padding:10px;
    font-size: 15px;
  }
}
@media (max-width: 740px)
{
    #bar
    {
      font-size: 30px;
        padding: 2%;
      }
      #logo
    {
        width:200px;
        height:100px;
        margin-top:-2vh;
        margin-right:100%;
        overflow: hidden;
    }

}
@media (min-width: 1500px)
{
  #slide1{
    height:75%;
    width:45%;
    margin:10% 0% 2% 5%;
    border-radius: 25px;

  }
  #slide2{
    height:75%;
    width:45%;
    margin:-35% 5% 2% 50%;
    border-radius: 25px;

  }
  .card1{
        width: 40%;
      height:60%;
      margin-left: 55%;
      margin-right: 5%;
      margin-top: -35%;
      background-color: #73008B;
      border:1px solid #bdbdbd;
      -webkit-border-radius: 5px;
      border-radius: 25px;
      -moz-box-shadow: 0 0 20px #73008B;
      -webkit-box-shadow: 0 0 20px #73008B;
      box-shadow: 0 0 20px #73008B;
  }
  .card2{
    width: 40%;
      height:60%;
      margin:10% 0% 2% 5%;
      background-color: #73008B;
      border:1px solid #bdbdbd;
      -webkit-border-radius: 5px;
      border-radius: 25px;
      -moz-box-shadow: 0 0 20px #73008B;
      -webkit-box-shadow: 0 0 20px #73008B;
      box-shadow: 0 0 20px #73008B;
  }
  h1
  {
    color:white;
    text-align: center;
    font-size:3em;
    text-decoration: underline;
    font-weight: bold;
  }
  #text
  {
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    font:Roboto;
    font-size:20px;
    font-style: italic;
  }
  #logo
  {
    padding:2%;
  }
  nav
  {
    height:12vh;
  }
}
