@media (max-width: 767px)
 {
   .content1 ,.content2 ,.content3
   {
     width:100%;
     float:left;
   }
   .card
   {
     margin-right: 10%;
   }

 }
/* X-Small devices (landscape phones, 320px and up) */
      @media (min-width: 320px)
       {
          .circle
          {
            margin-left:42%;
          }
      }

      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px)
      {
          .circle
          {
            margin-top:63%;
          }
      }

      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 768px)
       {
         .circle
         {
           margin-top:165%;
         }
      }

      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px)
         {
           .circle
           {
             margin-top:135%;
           }
         }
      /* Extra large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px)
       {
         .circle
         {
           margin-top:110%;
         }
      }

      /* Ultra large devices (large desktops, 1400px and up) */
      @media (min-width: 1500px)
       {
         .circle
         {
           margin-top:80%;
         }
      }
