body
{
  margin:0;
  padding:0;
  width: 100vw;
  height:140vh;
  overflow-x: hidden;
  background-color:rgba(41, 10, 99, 1);
}
/*particle.js background*/
#atom{
  width: 100%;
  height:100%;
  background-color:#240033; 
  /* background: red; */
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/* top left logo */
.side_logo{ 
  margin: 0;
  width:15%;
  height:10%;
  top:3%;
  left: 2%;
  position:fixed;
  z-index: 2;
}

/*on click side nav*/
#bar{
  font-size:3em;
  cursor:pointer;
  color: rgba(128, 237, 255, 1);
  position:fixed;
  right:2%;
  top: 5px;
  padding:1%;
  z-index: 2;
}
#bar:hover{
  color:rgba(0, 167, 225, 1);
}
.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
   /* background: transparent; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*main middle logo*/
.main_logo{
  /* width:400px; */
  margin: 0;
  width: 30%;
  height: 20%;
  /* background: #fff; */
  position:absolute;
  display:block;
  top: 42%;
  left: 32%;
}
/*URECKON Open School Challange (UOSC)*/
.slide
{
  letter-spacing: 2px;
  position:absolute;
  top: 25%;
  height: 15%;
  left: 15%;
  width: 65%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  /* background: #fff; */
  color:rgba(255, 191, 30, 1);
  /* margin-top: 10%; */
  font-size: 7vh;
  /* margin-left: 18%; */
  text-shadow:1px 1px white;
}
.sticky
{
  top:0%;
  position:fixed;
  z-index: 1;
  background: transparent;
  /* background: red; */
}
/*container*/
.container{
  position: absolute;
  top: 65%;
  left: 18vw;
  display: block;
  width:60vw;
  height:55vh;
  /* margin-top: 27%;
  margin-left: 100px; */
  background-color: white;
  
  border-radius: 25px;
  /* visibility: hidden; */
}
.container h3{
  padding:2% 6%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 65%;
  /* background: red; */
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#button{
  cursor:pointer;
  display: block;
  margin-left:20%; 
  /* padding:10px 20px; */
  width:50%;
  padding: 9px 5px;
  margin-top: -10px;
  /* height:200px; */
  border-radius: 10px;
  color:#240033;
  text-align: center;
  background-color: cyan;
  /* box-shadow: 2px 3px #888888; */
  font-size:3vh;
  font-family: 'Times New Roman', Times, serif;
}
#button:hover{
  background-color: #1f5fe7;
  color: #111;
  font-weight: bold;
}

@media screen and (max-width: 1200px){
  .slide{
    left: 0%;
    width: 100%;
    font-size: 5.8vh;
  }
}

@media screen and (max-width: 860px){
  .main_logo{
    left: 10%;
    width: 80%;
    height : 13%;
  }
  .slide{
    font-size: 5.5vh;
  }
  .sidenav a{
    color: #fff;
  }
  .container{
    height: 50vh;
  }
  .container h3{
    font-size: 16px;
  }
  #button{
    margin-top: 0;
  }
}

@media screen and (max-width: 450px){
  .main_logo{
    left: 0;
    width: 100%;
    height: 15%;
  }
  .slide{
    font-size: 4vh;
  }
  .container h3{
    font-size: 14px;
  }
}